#corpos__celestes {
    background-color: aliceblue;
    font: black;
}


body {
    font: normal 16pt arial;
    background-color: rgb(12, 12, 12);
    color: rgb(218, 218, 218);
}

.conteudo {
    margin-top: 5%;
}

#hora {
    font: bold 60pt montserrat;
    z-index: 0;
    max-width: 30%;
}


.horario {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    text-align: center;
}

#msg {
    font: normal 22pt arial;
}

